<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.survice.electrofix">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" /> <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
    android:maxSdkVersion="32" /> <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ElectroFix"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElectroFix"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCuJ7OEIo7gmIQbTIBO-PTihjflx1qm7WY" />

        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ChoiceActivity" android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" android:configChanges="uiMode|screenSize|smallestScreenSize|screenLayout|orientation"/>
        <activity android:name=".SettingsActivity" android:exported="false" android:configChanges="uiMode|screenSize|smallestScreenSize|screenLayout|orientation"/>
        <activity android:name=".CategoryActivity" android:exported="false" android:configChanges="uiMode|screenSize|smallestScreenSize|screenLayout|orientation"/>

        <activity android:name=".HelpSupportActivity" android:exported="false" />
        <activity android:name=".NotificationActivity" android:exported="false" />
        <activity android:name=".TermsActivity" android:exported="false" />
        <activity android:name=".SearchActivity" android:exported="false" />
        <activity android:name=".CustomerEditProfileActivity" android:exported="false" />
        <activity android:name=".RepairerProfileActivity" android:exported="false" />
        <activity android:name=".RepairerEditProfileActivity" android:exported="false" />
        <activity android:name=".RepairerProfileInfoActivity" android:exported="false" />
        <activity android:name=".CustomerProfileActivity" android:exported="false" />
        <activity android:name=".CustomerProfileInfoActivity" android:exported="false" />
        <activity android:name=".UploadIssueActivity" android:exported="false" />
        <activity android:name=".HelpReportIssueActivity" android:exported="false" />
        <activity android:name=".ServiceListActivity" android:exported="false" />
        <activity android:name=".ServiceDetailActivity" android:exported="false" />
        <activity android:name=".BookingActivity" android:exported="false" />
        <activity android:name=".RepairerBookingActivity" android:exported="false" />
        <activity android:name=".TrackCustomerActivity" android:exported="false" />
        <activity android:name=".BookingSuccessActivity" android:exported="false" />
        <activity android:name=".TrackRepairerActivity" android:exported="false" />
        <activity android:name=".TrackingActivity" android:exported="false" />
        <activity android:name=".ChangePasswordActivity" android:exported="false" />
        <activity android:name=".NoNetworkActivity" android:exported="false" />
        <activity android:name=".PaymentActivity" android:exported="false" />
        <activity android:name=".QRScannerActivity" android:exported="false" />
        <activity android:name=".PayingAnyoneActivity" android:exported="false" />
        <activity android:name=".PaymentConformationActivity" android:exported="false" />
        <activity android:name=".AvatarChooserActivity" android:exported="false" />
        <activity android:name=".ForgotPasswordActivity" android:exported="true" android:theme="@style/Theme.ElectroFix" />
        <activity android:name=".AcServicingActivity" />
    </application>

</manifest>